/* You can add global styles to this file, and also import other style files */
@import '../node_modules/reset-css/_reset.scss';
@import "../node_modules/bootstrap/dist/css/bootstrap.css";
@import "../node_modules/ng2-toastr/bundles/ng2-toastr.min.css";
@import './partials/_variables.scss';
@import './partials/_globals.scss';
@import './partials/_icons.scss';
@import './partials/_layout.scss';
@import './partials/_form.scss';
@import "~@ng-select/ng-select/themes/default.theme.css";

* {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

.ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-value .ng-value-label {
    padding: 4px 5px;
}

table tr td, table tr th {
    font-size: 14px  !important;
    margin: 0;
    padding: .5rem 1rem !important;
    border: 1px solid #e9ebec;
    font-weight: 400 !important;
    vertical-align: middle !important;
    a {
        color: #000 !important;
        font-size: 16px !important;
        font-weight: 400 !important;
        &:hover {
            text-decoration: none !important;
        }
    }
}
