
<div class="app-container">
  <div>
    <div class="header-wrap flx-row flx-jsb">
      <div class="flx-row">
        <button (click)="isExpand = !isExpand" [ngClass]="{'active': isExpand}" *ngIf="!isLogin">
          <span></span>
          <span></span>
          <span></span>
        </button>
        <div class="app-title f20 pointer" (click)="goHome()">VM</div>
      </div>
      <div class="flx-row">
        <div *ngIf="!user">Welcome Guest</div>
        <div *ngIf="user">Welcome {{user.userName}}</div>
        <div class="icon-lg icon-logout pointer" (click)="onLogout()" *ngIf="!isLogin"></div>
      </div>
    </div>
    <div class="view-wrap" [ngClass]="{'nav-expand': isExpand, 'not-login': isLogin}">
      <div class="left-navigation flx-column" [ngClass]="{'nav-expand': isExpand}" *ngIf="!isLogin">
        <div class="nav-list flx-row pointer" [ngClass]="{'active': routeName === 'new-vendor'}" (click)="navigateTo('/new-vendor')">
          <div class="icon-nav icon-doc"></div>
          <div class="nav-title">New Vendor</div>
        </div>
        <div class="nav-list flx-row pointer" [ngClass]="{'active': routeName === 'vendors'}" (click)="navigateTo('/vendors')">
          <div class="icon-nav icon-user-list"></div>
          <div class="nav-title">Vendors</div>
        </div>
        <div class="nav-list flx-row pointer" [ngClass]="{'active': routeName === 'valuation'}" (click)="navigateTo('/valuation')">
          <div class="icon-nav icon-user-list"></div>
          <div class="nav-title">Valuation</div>
        </div>
        <div class="nav-list flx-row pointer" [ngClass]="{'active': routeName === 'valuation-view'}" (click)="navigateTo('/valuation-view')">
          <div class="icon-nav icon-user-list"></div>
          <div class="nav-title">Valuation View</div>
        </div>
      </div>
      <div class="right-container">
        <router-outlet></router-outlet>
      </div>
      <div class="spinner" *ngIf="isSpinner"></div>
    </div>
  </div>
  <div class="footer-wrap f12 flx-row primary-color ">
    Copyright © 2005 IKF Finance Limited. All Rights Reserved.
  </div>
</div>