<div class="view-container valuation-container">
  <div class="sub-title-wrap flx-row flx-jsb">
    <div class="sub-title">Valuation</div>
  </div>
  <div class="valuation-form-container">
    <form #valuationForm="ngForm" [ngClass]="{'form-submitted' : formSubmitted}">
      <ngb-tabset>
        <ngb-tab id="general">
          <ng-template ngbTabTitle>
            <div>General</div>
          </ng-template>
          <ng-template ngbTabContent>
            <div class="row tab-container">
              <div class="col-sm-6">
                <div class="form-group">
                  <label class="required">Valuation request received from</label>
                  <input type="text" [(ngModel)]="valuation.general.requestor" name="requestor" class="form-control" readonly required>
                </div>
                <div class="form-group">
                  <label class="required">Name of Loan Purchaser</label>
                  <input type="text" [(ngModel)]="valuation.general.purchaser" name="purchaser" class="form-control" readonly required>
                </div>
                <div class="form-group">
                  <label class="required">Date of inspection</label>
                  <my-date-picker [options]="myDatePickerOptions" name="inspection-date" [(ngModel)]="valuation.general.inspectionDate" required></my-date-picker>
                </div>
                <div class="form-group">
                  <label class="required">Inspection Address</label>
                  <textarea class="form-control" name="inspection-address" [(ngModel)]="valuation.general.inspectionAddress" required></textarea>
                </div>
                <div class="form-group">
                  <label class="required">Serial no.of owner as per RC</label>
                  <input type="text" [(ngModel)]="valuation.general.serialNo" name="serial-no" class="form-control" OnlyNumber="true" required>
                </div>
              </div>
            </div>
          </ng-template>
        </ngb-tab>

        <ngb-tab id="vehicle">
          <ng-template ngbTabTitle>
            <div>Vehicle's Particulars</div>
          </ng-template>
          <ng-template ngbTabContent>
            <div class="row tab-container">
              <div class="col-sm-6">
                <div class="form-group">
                  <label>Name of registered owner</label>
                  <input type="text" [(ngModel)]="valuation.vehicle.registerOwner" name="register-owner" class="form-control" readonly>
                </div>
                <div class="form-group">
                  <label>Registration no</label>
                  <input type="text" [(ngModel)]="valuation.vehicle.registrationNo" name="registration-no" class="form-control" readonly>
                </div>
                <div class="form-group">
                  <label>Date of registration</label>
                  <my-date-picker [options]="myDatePickerOptions" name="registration-date" [(ngModel)]="valuation.vehicle.registrationDate"></my-date-picker>
                </div>
                <div class="form-group">
                  <label>Chassis No</label>
                  <input type="text" [(ngModel)]="valuation.vehicle.chassisNo" name="chassis-no" class="form-control">
                </div>
                <div class="form-group">
                  <label>Engine No</label>
                  <input type="text" [(ngModel)]="valuation.vehicle.engineNo" name="engine-no" class="form-control">
                </div>
                <div class="form-group">
                  <label>Model</label>
                  <input type="text" [(ngModel)]="valuation.vehicle.model" name="model" class="form-control" readonly>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                    <label>Make</label>
                    <input type="text" [(ngModel)]="valuation.vehicle.make" name="make" class="form-control" readonly>
                  </div>
                  <div class="form-group">
                    <label>Manufacturing year</label>
                    <input type="text" [(ngModel)]="valuation.vehicle.manufactureYear" name="manufacture-year" class="form-control" readonly>
                  </div>
                  <div class="form-group">
                    <label>G.V.W. (KGs)</label>
                    <input type="text" [(ngModel)]="valuation.vehicle.gvk" name="gvk" class="form-control">
                  </div>
                  <div class="form-group">
                    <label>H.P.N.</label>
                    <input type="text" [(ngModel)]="valuation.vehicle.hpn" name="hpn" class="form-control">
                  </div>
                  <div class="form-group">
                    <label>Original RC verified</label>
                    <div>
                      <div class="btn-group btn-group-toggle" ngbRadioGroup name="status" [(ngModel)]="valuation.vehicle.rcVerified">
                        <label ngbButtonLabel class="btn-secondary">
                          <input ngbButton type="radio" [value]="true"> Active
                        </label>
                        <label ngbButtonLabel class="btn-secondary">
                          <input ngbButton type="radio" [value]="false"> Inactive
                        </label>
                      </div>
                    </div>
                  </div>
              </div>
            </div>
          </ng-template>
        </ngb-tab>

        <ngb-tab id="insurance">
          <ng-template ngbTabTitle>
            <div>Insurance Details</div>
          </ng-template>
          <ng-template ngbTabContent>
            <div class="row tab-container">
              <div class="col-sm-6">
                <div class="form-group">
                  <label>Insured name</label>
                  <input type="text" [(ngModel)]="valuation.insurance.insuredName" name="insured-name" class="form-control">
                </div>
                <div class="form-group">
                  <label>Name of insurance co</label>
                  <input type="text" [(ngModel)]="valuation.insurance.insuranceCo" name="insurance-co" class="form-control">
                </div>
                <div class="form-group">
                  <label>Period of insurance from</label>
                  <my-date-picker [options]="myDatePickerOptions" name="period-from" [(ngModel)]="valuation.insurance.periodFrom"></my-date-picker>
                </div>
                <div class="form-group">
                  <label>Period of insurance to</label>
                  <my-date-picker [options]="myDatePickerOptions" name="period-to" [(ngModel)]="valuation.insurance.periodTo"></my-date-picker>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label>IDV</label>
                  <input type="text" [(ngModel)]="valuation.insurance.idv" name="idv" class="form-control" OnlyNumber="true">
                </div>
                <div class="form-group">
                  <label>Risk covered</label>
                  <div>
                    <div class="btn-group btn-group-toggle" ngbRadioGroup name="riskCovered" [(ngModel)]="valuation.insurance.riskCovered">
                      <label ngbButtonLabel class="btn-secondary">
                        <input ngbButton type="radio" value="comprehensive"> comprehensive
                      </label>
                      <label ngbButtonLabel class="btn-secondary">
                        <input ngbButton type="radio" value="3rdparty"> 3rd party
                      </label>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label>Hypothecation with</label>
                  <input type="text" [(ngModel)]="valuation.insurance.hypothecation" name="hypothecation" class="form-control">
                </div>
                <div class="form-group">
                  <label>Original policy verified</label>
                  <div>
                    <div class="btn-group btn-group-toggle" ngbRadioGroup name="policy-verified" [(ngModel)]="valuation.insurance.policyVerified">
                      <label ngbButtonLabel class="btn-secondary">
                        <input ngbButton type="radio" [value]="true"> Active
                      </label>
                      <label ngbButtonLabel class="btn-secondary">
                        <input ngbButton type="radio" [value]="false"> Inactive
                      </label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </ng-template>
        </ngb-tab>

        <ngb-tab id="permit">
          <ng-template ngbTabTitle>
            <div>Permit/Fitness</div>
          </ng-template>
          <ng-template ngbTabContent>
            <div class="row tab-container">
              <div class="col-sm-6">
                <div class="form-group">
                  <label>Fitness valid upto</label>
                  <my-date-picker [options]="myDatePickerOptions" name="fitness-upto" [(ngModel)]="valuation.permit.fitnessUpto"></my-date-picker>
                </div>
                <div class="form-group">
                  <label>Permit no</label>
                  <input type="text" [(ngModel)]="valuation.permit.permitNo" name="permit-no" class="form-control">
                </div>
                <div class="form-group">
                  <label>Permit valid upto</label>
                  <my-date-picker [options]="myDatePickerOptions" name="permit-upto" [(ngModel)]="valuation.permit.permitUpto"></my-date-picker>
                </div>
                <div class="form-group">
                  <label>Road tax paid upto</label>
                  <my-date-picker [options]="myDatePickerOptions" name="road-tax-upto" [(ngModel)]="valuation.permit.roadTaxUpto"></my-date-picker>
                </div>
              </div>
            </div>
          </ng-template>
        </ngb-tab>

        <ngb-tab id="condition">
          <ng-template ngbTabTitle>
            <div>Condition</div>
          </ng-template>
          <ng-template ngbTabContent>
            <div class="row tab-container">
              <div class="col-sm-6">
                <div class="form-group">
                  <label>Body shell</label>
                  <div>
                    <div class="btn-group btn-group-toggle" ngbRadioGroup name="body-shell" [(ngModel)]="valuation.condition.bodyShell">
                      <label ngbButtonLabel class="btn-secondary">
                        <input ngbButton type="radio" value="good"> Good
                      </label>
                      <label ngbButtonLabel class="btn-secondary">
                        <input ngbButton type="radio" value="avg"> Avg
                      </label>
                      <label ngbButtonLabel class="btn-secondary">
                        <input ngbButton type="radio" value="bad"> Bad
                      </label>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label>Suspension</label>
                  <div>
                    <div class="btn-group btn-group-toggle" ngbRadioGroup name="suspension" [(ngModel)]="valuation.condition.suspension">
                      <label ngbButtonLabel class="btn-secondary">
                        <input ngbButton type="radio" value="good"> Good
                      </label>
                      <label ngbButtonLabel class="btn-secondary">
                        <input ngbButton type="radio" value="avg"> Avg
                      </label>
                      <label ngbButtonLabel class="btn-secondary">
                        <input ngbButton type="radio" value="bad"> Bad
                      </label>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label>Battery</label>
                  <div>
                    <div class="btn-group btn-group-toggle" ngbRadioGroup name="battery" [(ngModel)]="valuation.condition.battery">
                      <label ngbButtonLabel class="btn-secondary">
                        <input ngbButton type="radio" value="good"> Good
                      </label>
                      <label ngbButtonLabel class="btn-secondary">
                        <input ngbButton type="radio" value="avg"> Avg
                      </label>
                      <label ngbButtonLabel class="btn-secondary">
                        <input ngbButton type="radio" value="bad"> Bad
                      </label>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label>Rear Tyres</label>
                  <div>
                    <div class="btn-group btn-group-toggle" ngbRadioGroup name="rearTyre" [(ngModel)]="valuation.condition.rearTyre">
                      <label ngbButtonLabel class="btn-secondary">
                        <input ngbButton type="radio" value="good"> Good
                      </label>
                      <label ngbButtonLabel class="btn-secondary">
                        <input ngbButton type="radio" value="avg"> Avg
                      </label>
                      <label ngbButtonLabel class="btn-secondary">
                        <input ngbButton type="radio" value="bad"> Bad
                      </label>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label>Front Tyres</label>
                  <div>
                    <div class="btn-group btn-group-toggle" ngbRadioGroup name="frontTyre" [(ngModel)]="valuation.condition.frontTyre">
                      <label ngbButtonLabel class="btn-secondary">
                        <input ngbButton type="radio" value="good"> Good
                      </label>
                      <label ngbButtonLabel class="btn-secondary">
                        <input ngbButton type="radio" value="avg"> Avg
                      </label>
                      <label ngbButtonLabel class="btn-secondary">
                        <input ngbButton type="radio" value="bad"> Bad
                      </label>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label>electric/transmission/exhaust/brake/ steering system/Cooling</label>
                  <div>
                    <div class="btn-group btn-group-toggle" ngbRadioGroup name="electric" [(ngModel)]="valuation.condition.electric">
                      <label ngbButtonLabel class="btn-secondary">
                        <input ngbButton type="radio" value="good"> Good
                      </label>
                      <label ngbButtonLabel class="btn-secondary">
                        <input ngbButton type="radio" value="avg"> Avg
                      </label>
                      <label ngbButtonLabel class="btn-secondary">
                        <input ngbButton type="radio" value="bad"> Bad
                      </label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label>Remarks</label>
                  <textarea class="form-control" name="remarks" [(ngModel)]="valuation.condition.remarks"></textarea>
                </div>
                <div class="form-group">
                  <label>Trial drive comment on engine condition</label>
                  <textarea class="form-control" name="trial-comment" [(ngModel)]="valuation.condition.trialComment"></textarea>
                </div>
                <div class="form-group">
                  <label>Meter Reading</label>
                  <input type="text" [(ngModel)]="valuation.condition.meterReading" name="meter-reading" class="form-control" OnlyNumber="true">
                </div>
                <div class="form-group">
                  <label>Vehicle in running condition? (moved and tested)</label>
                  <div>
                    <div class="btn-group btn-group-toggle" ngbRadioGroup name="running-condition" [(ngModel)]="valuation.condition.runningCondition">
                      <label ngbButtonLabel class="btn-secondary">
                        <input ngbButton type="radio" [value]="true"> Yes
                      </label>
                      <label ngbButtonLabel class="btn-secondary">
                        <input ngbButton type="radio" [value]="false"> No
                      </label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </ng-template>
        </ngb-tab>

        <ngb-tab id="valuation">
          <ng-template ngbTabTitle>
            <div>Valuation</div>
          </ng-template>
          <ng-template ngbTabContent>
            <div class="row tab-container">
              <div class="col-sm-6">
                <div class="form-group">
                  <label>Cost of new vehicle</label>
                  <input type="text" [(ngModel)]="valuation.value.newVehicleCost" name="new-vehicle-value" class="form-control" OnlyNumber="true">
                </div>
                <div class="form-group">
                  <label>Value of similar asset accessed in last 2M</label>
                  <input type="text" [(ngModel)]="valuation.value.similarAssetValue" name="similar-asset-value" class="form-control" OnlyNumber="true">
                </div>
                <div class="form-group">
                  <label>Valuation Amount</label>
                  <input type="text" [(ngModel)]="valuation.value.valuationAmount" name="valuation-amount" class="form-control" OnlyNumber="true">
                </div>
                <div class="form-group">
                  <label>Remarks/Additional information on asset</label>
                  <textarea class="form-control" name="remarks-asset" [(ngModel)]="valuation.value.remarks"></textarea>
                </div>
                <div class="form-group">
                  <label>Chassis print/copy attached</label>
                  <div>
                    <div class="btn-group btn-group-toggle" ngbRadioGroup name="chassis-copy" [(ngModel)]="valuation.value.chassisCopy">
                      <label ngbButtonLabel class="btn-secondary">
                        <input ngbButton type="radio" [value]="true"> Yes
                      </label>
                      <label ngbButtonLabel class="btn-secondary">
                        <input ngbButton type="radio" [value]="false"> No
                      </label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </ng-template>
        </ngb-tab>
      </ngb-tabset>
    </form>
  </div>
</div>